/* .v-main-box{
    background:rgb(46, 2, 2);
}
.v-section{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.v-container h1{
    margin: 10px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    color: rgb(218, 222, 226);
}
.v-container h4{
    font-size: 14px;
    text-align: center;
    font-family: 'Noto Sans Sinhala',sans-serif;
    padding-bottom: 20px;
    font-style: italic;
    color: rgb(223, 217, 217);
    font-weight: 600;
}
.v-cards{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    margin-top: 40px;
}
.v-text-card{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px rgb(32, 31, 31);
    margin: 15px;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
    border: none ;
}
.v-text-card:hover{
    background: rgb(175, 97, 97);
    transform: translateY(-10px);
}
.v-text-card h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.v-text-card i{
    font-size: 30px;
    margin-bottom: 30px;
}
.v-text-card h5{
    display: flex;
    text-align: center;
    padding-bottom: 15px;
    font-size: 15px;
    color: rgb(85, 26, 26);
}
.v-link{
    color: black;
}


@media (max-width:900px){
    .v-cards{
        flex-direction: column;
    }
} */

.v-main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #161623;
    min-height: 100%;
}
.v-main-box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.v-main-box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.v-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.v-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
.v-text-container h1{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 3em;
    padding-bottom: 15px;
}
.v-text-container h4{
    display: flex;
    justify-content: center;
    color: rgb(244, 225, 225);
    font-size: 15px;
    padding-bottom: 15px;
}
.v-cards{
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.v-cards .v-text-card{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: 0.4s;
}
.v-cards .v-text-card:hover{
    transform: scale(1.1);
}
.v-cards .v-text-card .v-content{
    padding: 20px;
    text-align: center;
}

.v-cards .v-text-card .v-content h2{
    position: absolute;
    top: -5px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.03);
    pointer-events: none;
}
.v-cards .v-text-card .v-content h3{
    font-size: 2em;
    color: #fff;
    z-index: 1;
    padding-top: 10px;
    margin-bottom: 10px;
}
.v-cards .v-text-card .v-content h5{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.v-cards .v-text-card .v-content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: rgb(231, 224, 224);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: .4s;
}
.v-cards .v-text-card .v-content a:hover{
    opacity: 0.7;
}