.NuthanahodiyaMain{
    margin: 0;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background: #161623;
    font-family: 'Noto serif Sinhala',sans-serif;
}
.mainhodibox{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #161623;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}
.sinhalaAkurumainbox{
    position: relative;
    min-width: 65%;
    width: auto;
    min-height: 50vh;
    background: rgba(250, 235, 215, 0.584);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid rgba(66, 63, 63, 0.526);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 1px solid rgba(255, 255, 255, 0.547);
}
.sinhalaAkuruDiscbox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    width: 200px;
    min-height: 100vh;
    background: rgba(250, 235, 215, 0.489);
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgba(66, 63, 63, 0.526);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 1px solid rgba(255, 255, 255, 0.547);
}
.MainSwaraya{
    position: relative;
    display: flex;
    flex-direction: row;
}
.emtySpaceSwarabox{
    width: 85px;
}
.swaraAkuruMain{
    position: relative;
    width: auto;
    min-height: 30vh;
    margin: 5px;
    background: rgba(154, 137, 228, 0.688);
    padding: 20px 20px; 
    border-radius: 10px;
    border: 1px solid rgba(66, 63, 63, 0.526);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 30px solid rgba(8, 1, 24, 0.773);
    overflow: hidden; 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.267);
    padding-left: 45px; 
}
.swaraAkuruMain::before{
    content: '';
    position: absolute;
    top: 0;
    left: -37%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.177);
    transform: skewX(-15deg);
    pointer-events: none;
}
.viyanAkuruMain{
    position: relative;
    width: auto;
    min-height: 50vh;
    margin: 5px;
    background: rgba(177, 134, 78, 0.697);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(66, 63, 63, 0.526);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 1px solid rgba(255, 255, 255, 0.547);
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.267);
}
.viyanAkuruMain::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.177);
    transform: skewX(-15deg);
    pointer-events: none;
}
.AkuruColoms{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.akuruAK{
    position: relative;
    width: 100px;
    height: 100px;
    background: rgba(250, 235, 215, 0.755);
    margin: 5px;
    border-radius: 5px;
    font-family: 'Noto serif Sinhala',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-bottom: 15px;
    overflow: hidden;
    border: 1px solid rgba(54, 52, 52, 0.732);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 1px solid rgba(255, 255, 255, 0.547);
    box-shadow: 10px 10px 15px rgba(36, 33, 33, 0.627);
    transition: .4s;
    cursor: pointer;
}
.akuruAK:hover{
    transform: scale(1.1);
    filter: brightness(1.4);
    opacity: 1;
}
.akuruAK::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    transform: skewX(-15deg);
    pointer-events: none;
}
.akurucontent{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.akuruAK h5{
    font-size: 4em;
    display: flex;
}
.akuruAK p{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1em;
    color: rgb(197, 200, 203);
}
#swaraAkurahodi{
    background: rgba(1, 9, 43, 0.862);
}
#swaraAkurahodi::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.11);
    transform: skewX(-15deg);
    pointer-events: none;
}
.viyaakuruDividaPink{
    display: flex;
}
.AkuruColomsSanjaka{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.pinkbox{
    position: relative;
    background: rgba(200, 7, 120, 0.704);
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(66, 63, 63, 0.526);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 1px solid rgba(255, 255, 255, 0.547);
}
.Varganthaksara{
    width: 35px;
    height: 100%;
    background-color: rgba(225, 32, 145, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;  
}
.Varganthaksara h2{
    font-family: 'Noto sans Sinhala',sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    transform: rotate(-92deg);
    color: rgb(236, 225, 236);
    padding-top: 3px;
    text-shadow: 0 0 10px rgba(43, 41, 41, 0.923);
    cursor: pointer;
    transition: .4s;
}
.Varganthaksara h2:hover{
    color: #fff;
    filter: brightness(1.4);
}
.vargaLableBox{
    width: 50px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px solid #333;
    margin: 10px;
}
#vargaLableBoxviya{
    height: 800px;
}
.vargaLableBox h2{
    font-family: 'Noto serif Sinhala',sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    transform: rotate(-92deg);
    color: #000;
    transition: .4s;
    cursor: pointer;
}
.vargaLableBox h2:hover{
    font-size: 1.4em;
    text-shadow: 0 0 15px rgb(116, 109, 109);
}
.viyanAkuruMainContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Varganthaksaradevidebox{
    display: flex;
    flex-direction: column;
    background: rgba(177, 134, 78, 0.697);
    border-radius: 5px;
}
#akvrdv{
    width: auto;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: .9em;
    color: rgb(3, 5, 49);
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.674);
    border: none;
}
#akvrdv h2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background: #9d9db773;
    border-radius: 10px;
    border: 1px solid rgba(66, 63, 63, 0.526);
    border-top: 1px solid rgba(255, 255, 255, 0.526);
    border-left: 1px solid rgba(255, 255, 255, 0.547);
    box-shadow: 10px 10px 30px rgba(71, 67, 67, 0.481);
}
#akvrdv::before{
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.168);
    transform: skewX(-15deg);
    pointer-events: none;
}
.swaraAkuruMaincontainer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#anahbox{
    margin-left: 145px;
    margin-bottom: 5px;
}
#yataAkuruSet{
    margin-top: 5px;
    margin-left: 145px;
}
#finalYataLetters{
    margin-left: 145px;
}
.pinkbox #vrvr{
    background: #ecdc2de5;
}
.pinkbox #vrvr::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.36);
    transform: skewX(-15deg);
    pointer-events: none;
}
#anahboxAkuru{
    background: rgba(208, 197, 197, 0.19);
    border: 3px solid rgba(27, 26, 26, 0.663);
    border-top: 2px solid rgba(235, 228, 228, 0.733);
    border-left: 2px solid rgba(255, 255, 255, 0.547);
}
#anahboxAkuru p{
    color: #333;
}
#anahboxAkuru::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.27);
    transform: skewX(-15deg);
    pointer-events: none;
}
#SanjakaAkuru p{
    color: #333;
}
#SanjakaAkuru{
    border: 3px solid rgb(119, 6, 83);
    border-top: 2px solid rgba(245, 206, 243, 0.84);
    border-left: 2px solid rgba(245, 206, 243, 0.84);
    background: rgba(208, 197, 197, 0.297);
}
#SanjakaAkuru::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.222);
    transform: skewX(-15deg);
    pointer-events: none;
}
#SanjakaAkuru h5{
    color: rgb(6, 77, 20);
    text-shadow: 0 0 5px rgba(2, 81, 18, 0.334);
}
#yatamaAkuru{
    border: 3px solid rgba(27, 26, 26, 0.663);
    border-top: 2px solid rgba(235, 228, 228, 0.733);
    border-left: 2px solid rgba(255, 255, 255, 0.547);
    background: rgba(208, 197, 197, 0.297);
}
#yatamaAkuru::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.27);
    transform: skewX(-15deg);
    pointer-events: none;
}
#yatamaAkuru p{
    color: rgb(84, 32, 32);
}
#yatamaAkuru h5{
    color: rgb(84, 32, 32);
}

/* letteres color */
#hreasSwara{
    color: rgb(239, 6, 107);
}
#deergaSware{
    color: antiquewhite;
}
#anLetter{
    color: rgb(13, 100, 172);
}
#ahLetter{
    color: rgb(84, 32, 32);
}
#alpaprana p{
    color: #333;
}
#alpaprana h5{
    color: rgb(29, 25, 42);
    text-shadow: 0 0 5px rgba(51, 51, 51, 0.463);
}
#mahaprana p{
    color: rgb(111, 4, 119);
}
#mahaprana h5{
    color: rgb(103, 15, 109);
    text-shadow: 0 0 5px rgba(111, 4, 119, 0.323);
}
#anunasiLetters p{
    color: rgb(13, 100, 172);
}
#anunasiLetters h5{
    color: rgb(13, 89, 152);
    text-shadow: 0 0 5px rgba(13, 101, 172, 0.284);
}
#anthahLetters p{
    color: #333;
}
#anthahLetters h5{
    color: #d96d08;
}
.agoshamark::before{
    content: 'අඝෝෂ';
    font-size: 15px;
    color: aliceblue;
    width: 80px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    position: absolute;
    background: #161623e1;
    bottom: -40px;
    left: -38px;
    transform: rotate(45deg);
}
/* ------- Letter Discriptions hovers------ */

.akuruwistharamain{
    background: #000210aa;
    backdrop-filter: blur(4px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.AakuruwistharamainboxContent{
    position: relative;
    min-width: 40vh;
    min-height: 50vh;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.152);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(2px);
    cursor: pointer;
    padding: 20px;
    animation: animation 3s ease-in-out infinite;
}
.AakuruwistharamainboxContent::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.068);
    transform: skewX(-15deg);
    pointer-events: none;
}
.AakuruwistharamainboxContent h1{
    position: relative;
    font-size: 10em;
    color: #fff;
    margin-bottom: 30px;
}
.AakuruwistharamainboxContent p{
    position: relative;
    text-align: center;
    max-width: 500px;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    margin: 20px;
    letter-spacing: 1px;
}
.AakuruwistharamainboxContent ul{
    position: relative;
    list-style: none;
    text-align: center;
    font-size: 1.2em;
    color: rgb(244, 232, 232);
    margin: 20px;
    font-weight: 500;
}
.AakuruwistharamainboxContent #titleP{
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: bold;
}
.AakuruwistharamainboxContent #EngP{
    color: rgb(241, 231, 231);
    font-weight: 300;
}
.contentHraswa{
    background: rgba(239, 6, 107, 0.300);
    text-shadow: 0 0 5px #333;
}
.contentDeerga{
    background: rgba(250, 235, 215, 0.300);
    text-shadow: 0 0 15px rgba(29, 27, 27, 0.923);
}

.hraswaswaraMainBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 30vh;
    margin: 5px;
    background: rgb(154, 147, 147);
    border-radius: 10px;
    padding-bottom: 15px;
}
.whatisbox{
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whatisbox h1{
    font-size: 2.7em;
    padding-bottom: 20px;
}
.whatisbox p{
    font-size: 1.1em;
    text-align: center;
    width: 95%;
    padding-bottom: 10px;
    font-weight: 600;
}
.AlpapranaDiscMainBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 30vh;
    margin: 5px;
    background: rgb(154, 147, 147);
    border-radius: 10px;
}
.dee{
    transform: scale(.7);
    filter: grayscale(1);
    opacity: .7;
}
.dee:hover{
    transform: scale(.8);
    filter: grayscale(1);
}
.DeergswaswaraMainBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 30vh;
    margin: 5px;
    background: rgb(154, 147, 147);
    border-radius: 10px;
}
.hras{
    transform: scale(.7);
    filter: grayscale(1);
    opacity: .7;
}
.hras:hover{
    transform: scale(.8);
    filter: grayscale(1);
}
.noalp{
    transform: scale(.7);
    filter: grayscale(1);
}
.noalp:hover{
    transform: scale(.8);
    filter: grayscale(1);
}
.MahappranaDiscMainBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 30vh;
    margin: 5px;
    background: rgb(154, 147, 147);
    border-radius: 10px;
}
.noMahap{
    transform: scale(.7);
    filter: grayscale(1);
}
.noMahap:hover{
    transform: scale(.8);
    filter: grayscale(1);
}
