.jumbotronbox{
    background-color: #191919;
}

.jumbotronbox h2{
    color: #e6d6df;
    padding-top: 20px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotronbox h3{
    color: #ddd8db;
    padding-top: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bimage-lgs{
    max-width: 230px;
}
.bcenter{
    padding-top: 60px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
    display: flex;

}
.bcards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bcol-sm{
    padding-right: 50px;
    transition: 0.4s;
    cursor: pointer;  
}
.bcol-sm:hover{
    transform: scale(1.1);
}
.bbg-image h5{
    display: flex;
    justify-content: center;
    padding-top: 17px;
    font-family: 'Noto Sans Sinhala',sans-serif;
    font-size: 15px;
    font-style: italic;
    color: antiquewhite;
    transition: .4s;
    font-weight: bold;
}
.bbg-image h5:hover{
    color: #d48497;
}
