.Contact-Footer-main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    

/* footer */
}
.myfooter{
    position: relative;
    bottom: 0;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.myfooter .myfooter-social-icons,
.myfooter .myFooter-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.myfooter .myfooter-social-icons li,
.myfooter .myFooter-menu li{
    list-style: none;
}
.myfooter .myfooter-social-icons li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
.myfooter .myfooter-social-icons li a:hover{
    transform: translateY(-10px);
}
.myfooter .myFooter-menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
.myfooter .myFooter-menu li a:hover{
    opacity: 1;
}
.myfooter p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    text-shadow: 0 8px 20px rgba(11, 11, 11, 0.723);
}
.myfooter .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../../assets/images/wave.png);
    background-size: 1000px 100px;
}
.myfooter .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: Waveanime 4s linear infinite;
}
.myfooter .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: Waveanime_02 4s linear infinite;
}
.myfooter .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: Waveanime 3s linear infinite;
}
.myfooter .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: Waveanime_02 3s linear infinite;
}


@keyframes Waveanime{
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes Waveanime_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

.mymymy{
    list-style: none;
    color: rgb(223, 215, 215);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 0.95em;
}
.mymymy a{
    list-style: none;
    color: rgb(223, 215, 215);
    text-align: center;
    font-size: 0.95em;
    transition: 0.3s;
}
.mymymy a:hover{
    color: #fff;
}