.sbody{
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background: #191919;
}
.section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sslider{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
}
.sslide{
    width: 500%;
    height: 500px;
    display: flex;
}
.sslide input{
    display: none;
}
.simg-container{
    width: 20%;
    transition: 2s;
}
.simg-container img{
    width: 800px;
    height: 500px;
}

.nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid #beadad;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin-right: 30px;
}

.m-btn:hover{
    background-color: aqua;
}

#sradio1:checked ~ .frist{
    margin-left: 0;
}
#sradio2:checked ~ .frist{
    margin-left: 20%;
}
#sradio3:checked ~ .frist{
    margin-left: 40%;
}
#sradio4:checked ~ .frist{
    margin-left: 60%;
}
#sradio5:checked ~ .frist{
    margin-left: 80%;
}

.snav-auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.snav-auto div{
    border: 2px solid #ae6868;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.snav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#sradio1:checked ~ .snav-auto .sa-b1{
    background-color: #ae6868;
}
#sradio2:checked ~ .snav-auto .sa-b2{
    background-color: #ae6868;
}
#sradio3:checked ~ .snav-auto .sa-b3{
    background-color: #ae6868;
}
#sradio4:checked ~ .snav-auto .sa-b4{
    background-color: #ae6868;
}
#sradio5:checked ~ .snav-auto .sa-b5{
    background-color: #ae6868;
}