header{
    background-color: rgb(37, 41, 41);
    min-height: 75px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    transition: 0.4s;
}
header:hover{
    background-color: rgb(49, 47, 47);
}
header .logo{
    padding: 10px;
    flex: 1;
    font-size: 15px;
    transition: 0.4s;
}
header .logo:hover{
    opacity: 0.5;
}
header a{
    text-transform: uppercase;
    color: rgb(211, 205, 205);
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    font-size: 15px;
    transition: .4s;
}
header ul li:hover{
    opacity: 2;
}
.menu{
    display: none;
}