header{
    background-color: rgba(4, 0, 27, 0.378);
    min-height: 55px;
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(171, 168, 168, 0.088);
    transition: 0.7s;
    border-radius: 10px;
    box-shadow: 0 0px 3px;
}
header:hover{
    background-color: rgba(2, 0, 19, 0.779);
}
header .logo{
    padding: 10px;
    flex: 1;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.4s;
}
header .logo:hover{
    opacity: 1;
}
header a{
    text-transform: uppercase;
    color: rgb(224, 223, 223);
}
header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    font-size: 15px;
    transition: .4s;
}
header ul li:hover{
    opacity: 2;
}
.menu{
    display: none;
}