.myheadtopabs{
    position: fixed;
    width: 95%;
    height: auto;
    z-index: 5000;
    transition: 0.7s;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    transition-timing-function: ease-in;
    transition: 0.5s;
}
.myheadtopabs_styles{
    top: 5px;
    left: 40px;
    margin-right: 40px;
    background-color: rgba(4, 0, 27, 0.532);
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: 0.7s;
    border-radius: 10px;
    box-shadow: 0 0px 3px;
    transition-timing-function: ease-in;
}
.myheadtopabs:hover{
    background-color: rgba(4, 2, 22, 0.779);
}
.myheadtopabs .logo{
    padding: 10px;
    flex: 1;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.4s;
}
.myheadtopabs .logo:hover{
    opacity: 1;
}
.myheadtopabs a{
    text-transform: uppercase;
    color: rgb(224, 223, 223);
}
.myheadtopabs ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 20px;
    font-size: 15px;
    transition: .4s;
}
.myheadtopabs ul li:hover{
    opacity: 2;
}
.menu{
    display: none;
}